.node text {
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
    color: #ffffa2;
}

.text {
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
    color: #ffffa2;
}

.text-edge {
    font-size: 15px;
}

.circle1 {
    opacity: 0.4;
}

.circle2 {
    opacity: 0.6;
}

.link-bar {
    fill: none;
    stroke-opacity: 0.8;
    stroke-width: 5px;
    stroke: black;
}

.link1 {
    fill: none;
    stroke-opacity: 0.8;
    stroke: black;
    stroke-width: 0.1px;
}

.link2 {
    fill: none;
    stroke-opacity: 0.7;
    stroke: black;
    stroke-width: 0.2px;
}

.tagDiv {
    font: 14px/1.5 'Microsoft Yahei','微软雅黑',Verdana,Arial,Helvetica,STHeiti,sans-serif;
    color: #333333;
    width: auto;
    background-color: #f2f2f2;
    zoom: 1;
}

.tagDiv:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.tagDiv a {
    margin-right: 9px;
    line-height: 32px;
}

.tag-list a:hover {
    color: #cc4533;
}

div.demo-container {
    width: 100%;
    height:100%;
    margin: 5px;
    padding: 0;
}

div.demo-container div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.content-left{
    border-radius: 4px;
    width: 30%;
    height: 700px;
    float: left;
    margin-left: 10px;
}

div.text-data {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
    height: 60%;
    float: left;
    padding: 0;
}

div.left-guideline {
    width: 100%;
    height: 200px;
    float: left;
    padding: 0;
}

div.div-refresh{
    width: 100%;
    height: 7%;
    line-height: 80px;
    float: right;
    text-align: center;
    padding-right: 10px;
}

.code-text {
    width: 100%;   
    overflow: auto;   
    resize: none;
    outline: none;
    color: #333;
    font-size:13px;
    line-height: 1.6;
    border: none;
    /*border-bottom: 1px solid #e3e3e3;
    border-radius: 4px;*/
}

.bt-fresh-style {
    float: right;
    width: 60px;
    padding: 5px 10px;
    margin-right: 20px;
    position: relative;
    top: 3px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #bbbbbb;
    border-color: #8699a4;
}

.bt-bar-style {
    float: left;
    width: 55px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 3px;
    margin-top: 5px;
    color: #fff;
    background-color: #8699a4;
    border-color: #4cae4c;
}

.bt-bar-style.bt-fresh-style {
    width: 48px;
    margin: 5px 0 0 5px;
}

.bt-data-style {
    float: left;
    width: 60px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 20px;
    position: relative;
    top: 3px;
    color: #fff;
    background-color: #bbbbbb;
    border-color: #4cae4c;
}

div.content_right {
    height: 700px;
    width: 66%;
    float:left;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
